<div class="d-flex mb-5">
  <div class="border-bottom flex-fill">
    <h2 class="pb-2">Latest Quotes</h2>
  </div>

  <!-- <div class="border-bottom">

    <button class="btn btn-outline-primary" id="dropdownMenuButton" data-bs-toggle="dropdown">
      <i class="bi bi-plus"></i>
      New
    </button>
    
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/quotes/decks/new">Decking </a></li>
      <li><a class="dropdown-item" href="#">Roofing</a></li>
      <li><a class="dropdown-item" href="#">Siding</a></li>
    </ul>
  </div> -->
</div>

<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <!-- <th >#</th> -->
      <th >Customer</th>
      <th >Type</th>
      <th >Created At</th>
      <th >Updated At</th>
      <!-- <th >Profit</th> -->
      <!-- <th >Total Cost</th> -->
      <th >Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of quotes; index as index">
      <!-- <td> {{ index + 1 }} </td> -->
      <td> {{ getCustomerName(quote.customerId) }} </td>
      <td> {{ quote.type }} </td>
      <td> {{ quote.createdAt | date }} </td>
      <td> {{ quote.updatedAt | date }} </td>
      <!-- <td> {{ quote.profit.toFixed(2) }} </td> -->
      <!-- <td> {{ quote.total_cost.toFixed(2) }} </td> -->

      <!-- Actions -->
      <td class="d-flex">
        <!-- Button Edit -->
        <button class="btn btn-primary btn-sm me-2" [routerLink]="[ '/quotes/'+quote.type+'s/', quote.id ]">
          <i class="bi bi-pencil-fill"></i>
        </button>

        <!-- Button Duplicate -->
        <button class="btn btn-warning btn-sm me-2" [routerLink]="[ '/quotes/'+quote.type+'s/', quote.id ]">
          <i class="bi bi-stickies-fill"></i>
        </button>

        <!-- Button Delete -->
        <!-- <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteCustomerModal"
          (click)="updateQuoteToDelete(quote)">
          <i class="bi bi-trash-fill"></i>
        </button> -->

        <!-- Modal -->
        <div class="modal fade" id="deleteCustomerModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title">Delete Quote</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body">
                <p>Are you sure to delete this quote?</p>
                <p class="text-muted">{{ quoteToDelete?.id }}</p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                  (click)="deleteQuote()">Yes</button>
              </div>

            </div>
          </div>
        </div>

      </td>
    </tr>

  </tbody>
</table>
