<!-- <nav class="navbar navbar bg-dark sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sticky top</a>
  </div>
</nav> -->
<div class="container">
  <header
    class="sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" >
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
      <i class="bi bi-house fs-1"></i>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link link-dark px-2">Home</a></li>
      <li><a routerLink="/customers/list" class="nav-link link-dark px-2">Customers</a></li>
      <li><a routerLink="/quotes/list" class="nav-link link-dark px-2">Quotes</a></li>
      <li><a href="#" class="nav-link link-secondary px-2">Admin</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
      <button class="btn btn-primary">
        <i class=" fs-5 bi bi-person-fill"></i>
      </button>
    </div>
  </header>
</div>
