<div class="d-flex mb-5">
  <div class="border-bottom flex-fill pb-2">
    <h2>Customers</h2>
  </div>

  <div class="border-bottom">
    <button class="btn btn-outline-primary" [routerLink]="[ '/customers/new' ]">
      <i class="bi bi-plus"></i>
      New
    </button>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td> {{ customer.firstName + ' ' + customer.lastName }} </td>
      <td> {{ customer.homeAddress }} </td>
      <td> {{ customer.emails }} </td>
      <td> {{ customer.phones }} </td>
      <td class="d-flex">

        <button class="btn btn-outline-primary btn-sm me-2" [routerLink]="[ '/customers', customer.id ]" title="Edit">
          <i class="bi bi-pencil-fill"></i>
        </button>

        <button class="btn btn-outline-success btn-sm me-2" [routerLink]="[ '/customers', customer.id, 'quotes' ]"
          title="Quotes">
          <i class="bi bi-currency-dollar"></i>
        </button>

      </td>
    </tr>

  </tbody>
</table>
