<h2 class="mb-5">Decking</h2>

<form>
  <div class="d-flex flex-row justify-content-evenly">
    <div>
      <h4 class="mb-4">Main Area</h4>

      <div class="form-floating mb-3">
        <select class="form-select" id="grade" name="grade">
          <option selected>Select frame grade</option>
          <option value="2x8">2 x 8 frame</option>
          <option value="2x10">2 x 10 frame</option>
        </select>
        <label for="grade" class="form-label">Deck Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ledger-board" name="ledger-board">
        <label class="form-label" for="ledger-board">Ledger Board (lf)</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Attaches to...</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Support Post Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Width</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Depth</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Height</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Picture Frame</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Beaming Grade</label>
      </div>
    </div>

    <div>
      <h4 class="mb-4">Stair</h4>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Width</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Riser</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Support Post Grade</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Beam Grade</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Railling on Both Sides?</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Handrails</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>
    </div>


    <div>
      <h4 class="mb-4">Landing</h4>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Frame Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Width</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Depth</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Height</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Board</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Attaches to...</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Support Post Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Picture Frame</label>
      </div>
    </div>
  </div>

  <div class="d-flex  justify-content-end">
    <button type="submit" class="btn btn-primary" (click)="onClick()">Submit</button>
  </div>

</form>


