<div class="d-flex mb-3 border-bottom">
    <div class=" flex-fill pb-2">
        <h2>Admin - Material Order - {{subtitle}}</h2>
    </div>
</div>

<div class="d-flex justify-content-between mb-3">
    <div class="col-lg-4 col-md-6 col-sm-10 col-12">
        <div class="input-group">
            <span class="input-group-text"
                  id="search-icon">
                <i class="bi bi-search"></i>
            </span>
            <input type="text"
                   class="form-control"
                   placeholder="Search"
                   [(ngModel)]="searchTerm"
                   (ngModelChange)="filterItems()">
        </div>
    </div>

    <div hidden="true"
         class="col-lg-4 col-md-6 col-sm-10 col-12">
        <select>
            <option [value]="dmo.id">{{dmo.name}}</option>
        </select>
    </div>

    <div hidden="true">
        <button *ngIf="actions.includes('create')"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#createItemModal">
            <i class="bi bi-plus"></i>
            New
        </button>

        <!-- Create Modal -->
        <div class="modal fade"
             id="createItemModal"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="createModalLabel">Create Item</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3"
                             *ngFor="let key of keys; index as i">
                            <label [for]="key"
                                   class="form-label">{{ columns[i] }}</label>
                            <input [type]="keysTypes[i]"
                                   [id]="key"
                                   class="form-control"
                                   [(ngModel)]="setToCreate[key]">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                (click)="createSet()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th *ngFor="let column of columns">{{ column }}</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of filteredItems">
            <!-- Keys -->
            <td *ngFor="let key of keys">{{ item[key] }}</td>

            <!-- Actions -->
            <td>
                <button *ngIf="actions.includes('edit')"
                        class="btn btn-outline-primary btn-sm me-2"
                        title="Edit"
                        data-bs-toggle="modal"
                        data-bs-target="#editItemModal"
                        (click)="setItemToEdit(item)">
                    <i class="bi bi-pencil-fill"></i>
                </button>

                <button *ngIf="actions.includes('delete')"
                        class="btn btn-outline-danger btn-sm me-2"
                        title="Delete"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteItemModal"
                        (click)="setItemToDelete(item)">
                    <i class="bi bi-trash-fill"></i>
                </button>

                <!-- Edit Modal -->
                <div class="modal fade"
                     id="editItemModal"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="editModalLabel">Edit Item
                                </h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3"
                                     *ngFor="let key of keys; index as i">
                                    <label for="itemName"
                                           class="form-label">{{ columns[i] }}</label>
                                    <input [type]="keysTypes[i]"
                                           id="itemName"
                                           class="form-control"
                                           [(ngModel)]="itemToEdit[key]">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-bs-dismiss="modal"
                                        (click)="editItem()">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete Modal -->
                <div class="modal fade"
                     id="deleteItemModal"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="deleteModalLabel">Delete Item
                                </h5>
                            </div>

                            <div class="modal-body">
                                <p>Are you sure to delete this item?</p>
                                <p>{{ itemToDelete.name }}</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-bs-dismiss="modal"
                                        (click)="deleteMaterialOrderItem()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>

<p class="text-center text-secondary"
   *ngIf="filteredItems.length == 0">There is no data.
</p>

<div class="text-end">
    <button class="btn btn-outline-primary"
            title="Add item"
            data-bs-toggle="modal"
            data-bs-target="#addItemModal">
        +
    </button>

    <!-- Add Modal -->
    <div class="modal fade"
         id="addItemModal"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="addModalLabel">Add Item
                    </h5>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <select class="form-select"
                                [(ngModel)]="materialOrderItemId">
                            <option selected
                                    value="">Select an item</option>
                            <option *ngFor="let material of materials"
                                    [value]="material.id">
                                {{material.desc}}
                            </option>

                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            (click)="addMaterialOrderItem()"
                            [disabled]="materialOrderItemId === ''">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
