<div class="d-flex flex-column align-items-center">

  <table class="table table-hover mb-3">
    <thead>
      <tr class="table-light">
        <th colspan="2">Material</th>
        <th class="text-center">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Decking Board</td>
        <td>
          <div *ngIf="deckQuote && deckQuote.deckingBoardSpecs">
            <select class="form-select form-select-sm" name="deckingBoardSpecs" id="deckingBoardSpecs"
              [(ngModel)]="deckQuote.deckingBoardSpecs.selectedSpecIndex">
              <option *ngFor="let spec of deckQuote?.deckingBoardSpecs?.catalogsSpec; let i = index" [ngValue]="i">
                {{spec.name}}</option>
            </select>
          </div>
        </td>
        <td class="text-center">
          <div
            *ngIf="deckQuote && deckQuote.deckingBoardSpecs">
            {{deckQuote.deckingBoardSpecs.catalogsSpec[deckQuote.deckingBoardSpecs.selectedSpecIndex || 0].cost.toFixed(2)}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>