<div class="row">

  <h4 class="mb-3">Customer Info</h4>

  <!-- Table customer -->
  <div class="mb-4">
    <table class="table">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Cell Phone</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ customer?.lastName }}</td>
          <td>{{ customer?.firstName }}</td>
          <td>{{ customer?.phones }}</td>
          <td>{{ customer?.emails }}</td>
        </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- <div class="row"> -->
    <h4 class="mb-3">Job Address</h4>

    <div class="col d-flex flex-column">
      <div class="btn mt-2 d-flex align-items-center"
           (click)="changeJobAddress(customer?.homeAddress)">
        <i class="bi bi-check-circle-fill me-2"
           *ngIf="jobAddress == customer?.homeAddress"></i>
        <i class="bi bi-circle me-2"
           *ngIf="jobAddress != customer?.homeAddress"></i>
        {{customer?.homeAddress}} <i class="ms-2">(Home Address)</i>
      </div>

      <div *ngFor="let a of customer?.jobAddress"
           class="d-flex">
        <div class="btn mt-2 d-flex align-items-center flex-fill"
             (click)="changeJobAddress(a)">
          <i class="bi bi-check-circle-fill me-2"
             *ngIf="jobAddress == a"></i>
          <i class="bi bi-circle me-2"
             *ngIf="jobAddress != a"></i>
          {{a}}
        </div>
        <button class="btn btn-sm btn-outline-primary mt-2"
                (click)="setCurrentJobAddress(a)"
                data-bs-toggle="modal"
                data-bs-target="#editJobAddressModal">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger mt-2 mx-2"
                (click)="setCurrentJobAddress(a)"
                data-bs-toggle="modal"
                data-bs-target="#deleteJobAddressModal">
          <i class="bi bi-trash"></i>
        </button>
      </div>

      <div class="d-flex mt-3">
        <div class="btn btn-outline-primary "
             data-bs-toggle="modal"
             data-bs-target="#addJobAddressModal">
          + New Job Addres
        </div>
        <div class="flex-fill "></div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <!-- Notes -->
  <div class="col">
    <h4 class="mb-3">Notes</h4>
    <!-- <textarea class="form-control " name="jobNotes" id="jobNotes" rows="5" [ngModel]="deckingQuote?.notes" (ngModelChange)="changeNotes($event)"></textarea> -->
    <textarea class="form-control "
              name="jobNotes"
              id="jobNotes"
              rows="5"
              [(ngModel)]="notes"
              (ngModelChange)="onNotesChange($event)"></textarea>
  </div>
</div>

<!-- Modal Add-->
<div class="modal fade"
     id="addJobAddressModal"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add job address</h5>
        <button class="btn-close"
                data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <div class="my-2">
          <input #inputAddJobAddress
                 type="text"
                 class="form-control"
                 id="addJobAddress"
                 placeholder="Type a new job address"
                 required>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Cancel</button>
        <button type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="addJobAddress(inputAddJobAddress.value)">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade"
     id="editJobAddressModal"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit job address</h5>
        <button class="btn-close"
                data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="my-2">
          <input #inputEditJobAddress
                 type="text"
                 class="form-control"
                 id="editJobAddress"
                 [value]="currentJobAddress">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Cancel</button>
        <button type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="editJobAddress(inputEditJobAddress.value)">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade"
     id="deleteJobAddressModal"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete job address?</h5>
        <button class="btn-close"
                data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <div class="my-2">
          <p>{{ currentJobAddress }}</p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Cancel</button>
        <button type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                (click)="deleteJobAddress()">Delete</button>
      </div>
    </div>
  </div>
</div>
