<div class="d-flex justify-content-around my-2">
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'footing'"
    [class.btn-light]="menu != 'footing'" (click)="menu = 'footing'">Footing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'board'"
    [class.btn-light]="menu != 'board'" (click)="menu = 'board'">Layout</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'railing'"
    [class.btn-light]="menu != 'railing'" (click)="menu = 'railing'">Railing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center"
    [class.btn-primary]="menu == 'finishing'" [class.btn-light]="menu != 'finishing'"
    (click)="menu = 'finishing'">Finishing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center"
    [class.btn-primary]="menu == 'rainscape'" [class.btn-light]="menu != 'rainscape'"
    (click)="menu = 'rainscape'">RainScape</button>
</div>

<div *ngIf="menu == 'footing'" class="mb-3">
  <div class="row">
    <b class="col-4 d-flex align-items-center">Big Foot</b>
    <div class="col-4 mb-3">
      <label class="form-label" for="big-foot-quantity">Quantity</label>
      <input type="text" class="form-control" id="big-foot-quantity" name="big-foot-quantity">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label" for="big-foot-size">Size</label>
      <input type="text" class="form-control" id="big-foot-size" name="big-foot-size" value="20x20x20" disabled>
    </div>
  </div>
  <div class="row">
    <b class="col-4 d-flex align-items-center">Helical Post</b>
    <div class="col-4 mb-3">
      <label class="form-label" for="helical-post-quantity">Quantity</label>
      <input type="text" class="form-control" id="helical-post-quantity" name="helical-post-quantity">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label" for="helical-post-size">Size</label>
      <input type="text" class="form-control" id="helical-post-size" name="helical-post-size" value="3''x5'" disabled>
    </div>
  </div>
  <div class="row">
    <b class="col-4 d-flex align-items-center">Sonotubes</b>
    <div class="col-4 mb-3">
      <label class="form-label" for="sonotubes-quantity">Quantity</label>
      <input type="text" class="form-control" id="sonotubes-quantity" name="sonotubes-quantity">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label" for="sonotubes-size">Size</label>
      <input type="text" class="form-control" id="sonotubes-size" name="sonotubes-size" value="12''x4'" disabled>
    </div>
  </div>
</div>

<div *ngIf="menu == 'board'">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary" id="dropdownMenuButton" data-bs-toggle="dropdown">
      <i class="bi bi-plus"></i>
      New
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="javascript:;" (click)="addArea()">Area</a></li>
      <li><a class="dropdown-item" href="javascript:;" (click)="addLandingArea()">Landing Area</a></li>
      <li><a class="dropdown-item" href="javascript:;" (click)="addStair()">Stair</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3" *ngFor="let mainArea of deckQuote?.deckingInfo?.mainAreas; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Area {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeArea(mainArea)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="deck-grade">Deck Grade</label>
                <select class="form-select" name="deck-grade" id="deck-grade">
                  <option>Select frame grade</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="ledger-board">Ledger Board</label>
                <input type="text" class="form-control" id="ledger-board" name="ledger-board">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="ledger-attaches-to">Ledger Attaches to</label>
                <select class="form-select" name="ledger-attaches-to" id="ledger-attaches-to">
                  <option>Wood</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="support-post-grade">Support Post Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="support-post-grade-size" id="support-post-grade-size">
                    <option>6x6</option>
                  </select>
                  <input type="text" class="form-control" id="support-post-grade-quantity"
                    name="support-post-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="deck-width">Deck Width</label>
                <input type="text" class="form-control" id="deck-width" name="deck-width" [(ngModel)]="mainArea.width">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="deck-depth">Deck Depth</label>
                <input type="text" class="form-control" id="deck-depth" name="deck-depth" [(ngModel)]="mainArea.depth">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="deck-height">Deck Height</label>
                <input type="text" class="form-control" id="deck-height" name="deck-height"
                  [(ngModel)]="mainArea.height">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="picture-frame">Picture Frame</label>
                <input type="text" class="form-control" id="picture-frame" name="picture-frame">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Beam Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="beam-grade" id="beam-grade">
                    <option>Select the Beam</option>
                  </select>
                  <input type="text" class="form-control" id="beam-grade-quantity" name="beam-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="decking-area">Decking Area</label>
                <input type="text" class="form-control" id="decking-area" name="decking-area" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" *ngFor="let ladingArea of deckQuote?.deckingInfo?.ladingAreas; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Landing Area {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeLandingArea(ladingArea)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="deck-grade">Deck Grade</label>
                <select class="form-select" name="deck-grade" id="deck-grade">
                  <option>Select frame grade</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="ledger-board">Ledger Board</label>
                <input type="text" class="form-control" id="ledger-board" name="ledger-board">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="ledger-attaches-to">Ledger Attaches to</label>
                <select class="form-select" name="ledger-attaches-to" id="ledger-attaches-to">
                  <option>Wood</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="support-post-grade">Support Post Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="support-post-grade-size" id="support-post-grade-size">
                    <option>6x6</option>
                  </select>
                  <input type="text" class="form-control" id="support-post-grade-quantity"
                    name="support-post-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="width">Width</label>
                <input type="text" class="form-control" id="width" name="width" [(ngModel)]="ladingArea.width">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="depth">Depth</label>
                <input type="text" class="form-control" id="depth" name="depth" [(ngModel)]="ladingArea.depth">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="height">Height</label>
                <input type="text" class="form-control" id="height" name="height" [(ngModel)]="ladingArea.height">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="picture-frame">Picture Frame</label>
                <input type="text" class="form-control" id="picture-frame" name="picture-frame">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Beam Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="beam-grade" id="beam-grade">
                    <option>Select the Beam</option>
                  </select>
                  <input type="text" class="form-control" id="beam-grade-quantity" name="beam-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="decking-area">Decking Area</label>
                <input type="text" class="form-control" id="decking-area" name="decking-area" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" *ngFor="let stair of deckQuote?.deckingInfo?.stairs; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Stair {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeStair(stair)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="width">Width</label>
                <input type="text" class="form-control" id="width" name="width" [(ngModel)]="stair.width">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="riser">Riser</label>
                <input type="text" class="form-control" id="riser" name="riser" [(ngModel)]="stair.riser">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="support-post-grade">Support Post Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="support-post-grade-size" id="support-post-grade-size">
                    <option>6x6</option>
                  </select>
                  <input type="text" class="form-control" id="support-post-grade-quantity"
                    name="support-post-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Beam Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" name="beam-grade" id="beam-grade">
                    <option>Select the Beam</option>
                  </select>
                  <input type="text" class="form-control" id="beam-grade-quantity" name="beam-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="railing-both-sides">Railings on Both Sides?</label>
                <select class="form-select" name="railing-both-sides" id="railing-both-sides">
                  <option>Select...</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Hand Rail</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="hand-rail" name="hand-rail">
                  <input type="text" class="form-control" id="hand-rail" name="hand-rail">
                  <input type="text" class="form-control" id="hand-rail" name="hand-rail">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="menu == 'railing'" class="mb-3">
  <div class="row">
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">&nbsp;</b>
      <div class="mb-3">
        <label class="form-label" for="36-height">36'' Height Deck Gate (No Wider than 48''')</label>
        <input type="text" class="form-control" id="36-height" name="36-height">
      </div>
      <div class="mb-3">
        <label class="form-label" for="42-height">42'' Height Deck Gate (No Wider than 48''')</label>
        <input type="text" class="form-control" id="42-height" name="42-height">
      </div>
      <div class="mb-3">
        <label class="form-label" for="6x32-level-rail">6'x 36''Level Rail</label>
        <input type="text" class="form-control" id="6x32-level-rail" name="6x32-level-rail">
      </div>
      <div class="mb-3">
        <label class="form-label" for="8x36-level-rail">8'x 36''Level Rail</label>
        <input type="text" class="form-control" id="8x36-level-rail" name="8x36-level-rail">
      </div>
      <div class="mb-3">
        <label class="form-label" for="6x42-level-rail">6'x 42''Level Rail</label>
        <input type="text" class="form-control" id="6x42-level-rail" name="6x42-level-rail">
      </div>
      <div class="mb-3">
        <label class="form-label" for="splitted-rails">Splitted Rails</label>
        <input type="text" class="form-control" id="splitted-rails" name="splitted-rails">
      </div>
    </div>
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">CABLERAIL INFO</b>
      <div class="mb-3">
        <label class="form-label" for="total-36-rail-length">Total 36'' Rail Length</label>
        <input type="text" class="form-control" id="total-36-rail-length" name="total-36-rail-length">
      </div>
      <div class="mb-3">
        <label class="form-label" for="total-42-rail-length">Total 42'' Rail Length</label>
        <input type="text" class="form-control" id="total-42-rail-length" name="total-42-rail-length">
      </div>
      <div class="mb-3">
        <label class="form-label" for="stair-straght-secionts-36">Stair Straght Sections of 36 Height</label>
        <input type="text" class="form-control" id="stair-straght-secionts-36" name="stair-straght-secionts-36">
      </div>
      <div class="mb-3">
        <label class="form-label" for="stair-straght-secionts-42">Stair Straght Sections of 42 Height</label>
        <input type="text" class="form-control" id="stair-straght-secionts-42" name="stair-straght-secionts-42">
      </div>
      <div class="mb-3">
        <label class="form-label" for="level-straght-sections-36">Level Straght Sections 36'' Height</label>
        <input type="text" class="form-control" id="level-straght-sections-36" name="level-straght-sections-36">
      </div>
      <div class="mb-3">
        <label class="form-label" for="level-straght-sections-42">Level Straght Sections 42'' Height</label>
        <input type="text" class="form-control" id="level-straght-sections-42" name="level-straght-sections-42">
      </div>
      <div class="mb-3">
        <label class="form-label" for="level-pickets">Level Pickets</label>
        <input type="text" class="form-control" id="level-pickets" name="level-pickets">
      </div>
      <div class="mb-3">
        <label class="form-label" for="stair-pickets">Stair Pickets</label>
        <input type="text" class="form-control" id="stair-pickets" name="stair-pickets">
      </div>
      <div class="mb-3">
        <label class="form-label" for="pass-through-posts">Pass Through Posts (level only)</label>
        <input type="text" class="form-control" id="pass-through-posts" name="pass-through-posts">
      </div>
    </div>
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">DO NOT use Structural Posts for cablerail</b>
      <div class="mb-3">
        <label class="form-label" for="flush-36">Flush Mount Structural Post 36''Rail Height</label>
        <input type="text" class="form-control" id="flush-36" name="flush-36">
      </div>
      <div class="mb-3">
        <label class="form-label" for="flush-42">Flush Mount Structural Post 42''Rail Height</label>
        <input type="text" class="form-control" id="flush-42" name="flush-42">
      </div>
      <div class="mb-3">
        <label class="form-label" for="4x4-pt-posts">4x4 PT Posts (level only)</label>
        <input type="text" class="form-control" id="4x4-pt-posts" name="4x4-pt-posts">
      </div>
      <div class="mb-3">
        <label class="form-label" for="36-composite">36'' Composite Sleeves (level only)</label>
        <input type="text" class="form-control" id="36-composite" name="36-composite">
      </div>
      <div class="mb-3">
        <label class="form-label" for="42-composite">42'' Composite Sleeves (level only)</label>
        <input type="text" class="form-control" id="42-composite" name="42-composite">
      </div>
    </div>
  </div>
</div>

<div *ngIf="menu == 'finishing'" class="mb-3">
  <div class="row">
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">&nbsp;</b>
      <div class="mb-3">
        <label class="form-label" for="gate-to-access">Gate to access under the deck</label>
        <input type="text" class="form-control" id="gate-to-access" name="gate-to-access">
      </div>
      <div class="mb-3">
        <label class="form-label" for="4x8-lattice-panel">4x8 Lattice Panel</label>
        <input type="text" class="form-control" id="4x8-lattice-panel" name="4x8-lattice-panel">
      </div>
      <div class="mb-3">
        <label class="form-label" for="1x6-lattice-panel">1x6 Lattice Panel</label>
        <input type="text" class="form-control" id="1x6-lattice-panel" name="1x6-lattice-panel">
      </div>
      <div class="mb-3">
        <label class="form-label" for="dekc-fascia-board">Deck Fascia Board</label>
        <input type="text" class="form-control" id="dekc-fascia-board" name="dekc-fascia-board">
      </div>
      <div class="mb-3">
        <label class="form-label" for="water-table">Water Table</label>
        <input type="text" class="form-control" id="water-table" name="water-table">
      </div>
    </div>
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">Farmer's Porch</b>
      <div class="mb-3">
        <label class="form-label" for="ceiling-beam">Ceiling Beam (PVC)</label>
        <input type="text" class="form-control" id="ceiling-beam" name="ceiling-beam">
      </div>
      <div class="mb-3">
        <label class="form-label" for="6x6x85-pvc-square-columns">6'' x 6'' x 8.5' PVC Square Columns Wrap</label>
        <input type="text" class="form-control" id="6x6x85-pvc-square-columns" name="6x6x85-pvc-square-columns">
      </div>
      <div class="mb-3">
        <label class="form-label" for="8x8x8-fiberglass">8'' x 8'' x 8' Fiberglass Round Tapered Column</label>
        <input type="text" class="form-control" id="8x8x8-fiberglass" name="8x8x8-fiberglass">
      </div>
      <div class="mb-3">
        <label class="form-label" for="pvc-beaded-planks">PVC Beaded Planks on Ceiling</label>
        <input type="text" class="form-control" id="pvc-beaded-planks" name="pvc-beaded-planks">
      </div>
      <div class="mb-3">
        <label class="form-label" for="tg-fir-on-ceiling">T&G Fir on Ceiling (no stain)</label>
        <input type="text" class="form-control" id="tg-fir-on-ceiling" name="tg-fir-on-ceiling">
      </div>
      <div class="mb-3">
        <label class="form-label" for="base-cap-molding">Base Cap Molding (transition beam-ceiling)</label>
        <input type="text" class="form-control" id="base-cap-molding" name="base-cap-molding">
      </div>
      <div class="mb-3">
        <label class="form-label" for="soffit-trim">Soffit trim (PVC)</label>
        <input type="text" class="form-control" id="soffit-trim" name="soffit-trim">
      </div>
      <div class="mb-3">
        <label class="form-label" for="roof-fascia">Roof Fascia (PVC)</label>
        <input type="text" class="form-control" id="roof-fascia" name="roof-fascia">
      </div>
      <div class="mb-3">
        <label class="form-label" for="pass-through-posts">Pass Through Posts (level only)</label>
        <input type="text" class="form-control" id="pass-through-posts" name="pass-through-posts">
      </div>
    </div>
  </div>
</div>
<div *ngIf="menu == 'rainscape'" class="mb-3">
  <div class="row">
    <div class="col">
      <b class="d-flex justify-content-center mb-3 p-2">Trex RainScape System</b>
      <div class="mb-3">
        <label class="form-label" for="rainescape-deck-drainage-downpout">RainEscape Deck Drainage System Downspout</label>
        <input type="text" class="form-control" id="rainescape-deck-drainage-downpout" name="rainescape-deck-drainage-downpout">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-deck-drainage-16">RainEscape Deck Drainage System Trough - 16' Length</label>
        <input type="text" class="form-control" id="rainescape-deck-drainage-16" name="rainescape-deck-drainage-16">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-deck-drainage-12">RainEscape Deck Drainage System Trough - 12' Length</label>
        <input type="text" class="form-control" id="rainescape-deck-drainage-12" name="rainescape-deck-drainage-12">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-deck-drainage-butyl">RainEscape Deck Drainage System Butyl Caulk Tube</label>
        <input type="text" class="form-control" id="rainescape-deck-drainage-butyl" name="rainescape-deck-drainage-butyl">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-post">RainEscape Post Flashing - 4'' x 4''</label>
        <input type="text" class="form-control" id="rainescape-post" name="rainescape-post">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-wall">RainEscape Wall Flashing - 1 Roll</label>
        <input type="text" class="form-control" id="rainescape-wall" name="rainescape-wall">
      </div>
      <div class="mb-3">
        <label class="form-label" for="rainescape-deck-drainage">RainEscape Deck Drainage System Butyl Tape - 4'' x 50'</label>
        <input type="text" class="form-control" id="rainescape-deck-drainage" name="rainescape-deck-drainage">
      </div>
      <div class="mb-3">
        <label class="form-label" for="gutters">Gutters (LF)</label>
        <input type="text" class="form-control" id="gutters" name="gutters">
      </div>
      <div class="mb-3">
        <label class="form-label" for="downpouts">Downpouts</label>
        <input type="text" class="form-control" id="downpouts" name="downpouts">
      </div>
      <div class="mb-3">
        <label class="form-label" for="elbows">Elbows</label>
        <input type="text" class="form-control" id="elbows" name="elbows">
      </div>
      <div class="mb-3">
        <label class="form-label" for="left-end-cap">Left end Cap</label>
        <input type="text" class="form-control" id="left-end-cap" name="left-end-cap">
      </div>
      <div class="mb-3">
        <label class="form-label" for="right-end-cap">Right end Cap</label>
        <input type="text" class="form-control" id="right-end-cap" name="right-end-cap">
      </div>
      <div class="mb-3">
        <label class="form-label" for="hangers">Hangers</label>
        <input type="text" class="form-control" id="hangers" name="hangers">
      </div>
    </div>
  </div>
</div>