<!-- Menu -->
<div class="d-flex justify-content-around my-2">
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'footing'"
    [class.btn-light]="menu != 'footing'" (click)="menu = 'footing'">Footing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'layout'"
    [class.btn-light]="menu != 'layout'" (click)="menu = 'layout'">Layout</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center" [class.btn-primary]="menu == 'railing'"
    [class.btn-light]="menu != 'railing'" (click)="menu = 'railing'">Railing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center"
    [class.btn-primary]="menu == 'finishing'" [class.btn-light]="menu != 'finishing'"
    (click)="menu = 'finishing'">Finishing</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center"
    [class.btn-primary]="menu == 'rainScape'" [class.btn-light]="menu != 'rainScape'"
    (click)="menu = 'rainScape'">RainScape</button>
  <button type="button" class="btn m-2 d-flex flex-fill justify-content-center"
    [class.btn-primary]="menu == 'extra-materials'" [class.btn-light]="menu != 'extra-materials'"
    (click)="menu = 'extra-materials'">Extra Materials</button>
</div>

<!-- Footing -->
<div *ngIf="menu == 'footing'" class="mb-3">
  <div class="row justify-content-center">
    <b class="col-4 text-secondary ">Big Foot</b>
    <b class="col-4"></b>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-4">
      <label class="form-label" for="big-foot-quantity">Quantity</label>
      <input type="number" class="form-control no-spinner" id="big-foot-quantity">
    </div>
    <div class="col-4">
      <label for="big-foot-size" class="form-label">Size</label>
      <select id="big-foot-size" class="form-select">
        <option>22" x 16.5" x 22"</option>
        <option>28" x 20" x 28"</option>
      </select>
    </div>
  </div>

  <div class="row justify-content-center">
    <b class="col-4 text-secondary">Helical Post</b>
    <b class="col-4"></b>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-4">
      <label class="form-label" for="helical-post-quantity">Quantity</label>
      <input type="number" class="form-control no-spinner" id="helical-post-quantity">
    </div>
    <div class="col-4">
      <label for="helical-post-size" class="form-label">Size</label>
      <select id="helical-post-size" class="form-select">
        <option>3" x 5"</option>
      </select>
    </div>
  </div>


  <div class="row justify-content-center">
    <b class="col-4 text-secondary ">Sonotubes</b>
    <b class="col-4 "></b>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-4">
      <label class="form-label" for="sonotubes-quantity">Quantity</label>
      <input type="number" class="form-control no-spinner" id="sonotubes-quantity">
    </div>
    <div class="col-4">
      <label class="form-label" for="sonotubes-size">Size</label>
      <select id="helical-post-size" class="form-select">
        <option>8" x 48"</option>
        <option>12" x 48"</option>
      </select>
    </div>
  </div>
</div>


<!-- Layout -->
<div *ngIf="menu == 'layout'">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary" id="dropdownMenuButton" data-bs-toggle="dropdown">
      <i class="bi bi-plus"></i>
      New
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="javascript:;" (click)="addArea()">Area</a></li>
      <li><a class="dropdown-item" href="javascript:;" (click)="addLandingArea()">Landing Area</a></li>
      <li><a class="dropdown-item" href="javascript:;" (click)="addStair()">Stair</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3" *ngFor="let mainArea of deckingQuote?.deckTakeOff?.layout?.mainAreas; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Area {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeArea(mainArea)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-deck-grade">Deck Grade</label>
              </div>
              <div class="col">
                <select class="form-select" id="area-deck-grade">
                  <option>2x6 Frame</option>
                  <option>2x8 Frame</option>
                  <option>2x10 Frame</option>
                  <option>2x12 Frame</option>
                </select>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-ledger-board">Ledger Board (LFT)</label>
              </div>
              <div class="col">
                <select class="form-select" id="area-ledger-board">
                  <option>2x8 Frame</option>
                  <option>2x10 Frame</option>
                  <option>2x12 Frame</option>
                </select>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-ledger-attaches-to">Ledger Attaches to</label>
              </div>
              <div class="col">
                <select class="form-select" id="area-ledger-attaches-to">
                  <option>Rim Joist</option>
                  <option>Concrete</option>
                </select>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-support-post-grade">Support Post Grade (LFT)</label>
              </div>
              <div class="input-group">
                <div class="col-6">
                  <select class="form-select" id="area-support-post-grade">
                    <option>4x4</option>
                    <option>6x6</option>
                  </select>
                </div>
                <div class="col-6">
                  <input type="number" class="form-control no-spinner" id="area-support-post-grade" placeholder="Ct">
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-width">Deck Width (FT)</label>
              </div>
              <div class="col">
                <input type="number" class="form-control no-spinner" id="area-width" [(ngModel)]="mainArea.width">
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-depth">Deck Depth (FT)</label>
              </div>
              <div class="col">
                <input type="number" class="form-control no-spinner" id="area-depth" [(ngModel)]="mainArea.depth">
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-height">Deck Height (FT)</label>
              </div>
              <div class="col">
                <input type="number" class="form-control no-spinner" id="area-height" [(ngModel)]="mainArea.height">
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-picture-frame">Picture Frame (LFT)</label>
              </div>
              <div class="col">
                <input type="number" class="form-control no-spinner" id="area-picture-frame">
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">
              <div class="col-4">
                <label class="form-label no-margin" for="area-beam-grade">Beam Grade (LFT)</label>
              </div>
              <div class="input-group">
                <div class="col-8">
                  <select class="form-select" id="area-beam-grade">
                    <option>Double by 6</option>
                    <option>Triple by 6</option>
                    <option>Double by 8</option>
                    <option>Triple by 8</option>
                    <option>Double by 10</option>
                    <option>Triple by 10</option>
                    <option>Double by 12</option>
                    <option>Triple by 12</option>
                  </select>
                </div>
                <div class="col-4">
                  <input type="number" class="form-control no-spinner" id="area-beam-grade-quantity" placeholder="LFT">
                </div>
              </div>
            </div>
            
            <div class="d-flex align-items-center mb-3">
              <div class="col-6">
                <label class="form-label no-margin" for="area-decking-area">Decking Area (LFT)</label>
              </div>
              <div class="col">
                <input type="number" class="form-control no-spinner" id="area-decking-area" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" *ngFor="let ladingArea of deckingQuote?.deckTakeOff?.layout?.ladingAreas; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Landing Area {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeLandingArea(ladingArea)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-deck-grade">Deck Grade</label>
                <select class="form-select" id="land-deck-grade">
                  <option>2x6 Frame</option>
                  <option>2x8 Frame</option>
                  <option>2x10 Frame</option>
                  <option>2x12 Frame</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-ledger-board">Ledger Board (LFT)</label>
                <select class="form-select" id="land-ledger-board">
                  <option>2x6 Frame</option>
                  <option>2x8 Frame</option>
                  <option>2x10 Frame</option>
                  <option>2x12 Frame</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-ledger-attaches-to">Ledger Attaches to</label>
                <select class="form-select" id="land-ledger-attaches-to">
                  <option>Rim Joist</option>
                  <option>Concrete</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-support-post-grade-size">Support Post Grade (LFT)</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="land-support-post-grade-size">
                    <option>4x4</option>
                    <option>6x6</option>
                  </select>
                  <input type="number" class="form-control no-spinner" id="land-support-post-grade-quantity"
                    placeholder="Qty">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-width">Width</label>
                <input type="number" class="form-control no-spinner" id="land-width" [(ngModel)]="ladingArea.width">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-depth">Depth</label>
                <input type="number" class="form-control no-spinner" id="land-depth" [(ngModel)]="ladingArea.depth">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-height">Height</label>
                <input type="number" class="form-control no-spinner" id="land-height" [(ngModel)]="ladingArea.height">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-picture-frame">Picture Frame</label>
                <input type="number" class="form-control no-spinner" id="land-picture-frame">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-beam-grade">Beam Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="land-beam-grade">
                    <option>Select the Beam</option>
                  </select>
                  <input type="number" class="form-control no-spinner" id="land-beam-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="land-decking-area">Decking Area</label>
                <input type="number" class="form-control no-spinner" id="land-decking-area" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" *ngFor="let stair of deckingQuote?.deckTakeOff?.layout?.stairs; let i = index">
        <div class="card-header d-flex justify-content-between align-items-center">
          <b>Stair {{i+1}}</b>
          <button class="btn btn-outline-danger" (click)="removeStair(stair)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="width">Width</label>
                <input type="number" class="form-control no-spinner" id="width" [(ngModel)]="stair.width">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="riser">Riser</label>
                <input type="number" class="form-control no-spinner" id="riser" [(ngModel)]="stair.riser">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="support-post-grade">Support Post Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="support-post-grade-size">
                    <option>6x6</option>
                  </select>
                  <input type="number" class="form-control no-spinner" id="support-post-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Beam Grade</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="beam-grade">
                    <option>Select the Beam</option>
                  </select>
                  <input type="number" class="form-control no-spinner" id="beam-grade-quantity">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="railing-both-sides">Railings on Both Sides?</label>
                <select class="form-select" id="railing-both-sides">
                  <option>Select...</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="beam-grade">Hand Rail</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control no-spinner" id="hand-rail">
                  <input type="number" class="form-control no-spinner" id="hand-rail">
                  <input type="number" class="form-control no-spinner" id="hand-rail">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Railing -->
<div *ngIf="menu == 'railing'" class="mb-3">
  <div class="row">

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">&nbsp;</b>

      <div class="row mb-3">
        <div class="col-8 d-flex flex-column ">
          <label class="form-label" style="margin-bottom: 0;" for="36-height">36'' Height Deck Gate</label>
          <p class="text-secondary" style="margin-bottom: 0;">No wider than 48''</p>
        </div>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="36-height" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-8 d-flex flex-column ">
          <label class="form-label" style="margin-bottom: 0;" for="42-height">42'' Height Deck Gate</label>
          <p class="text-secondary" style="margin-bottom: 0;">No wider than 48''</p>
        </div>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="42-height" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label " for="6x32-level-rail">6'x 36''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="6x32-level-rail" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label " for="8x36-level-rail">8'x 36''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="8x36-level-rail" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label " for="6x42-level-rail">6'x 42''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="6x42-level-rail" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label " for="splitted-rails">Splitted Rails</label>
        <div class="col d-flex align-items-center ">
          <input type="number" class="form-control no-spinner" id="splitted-rails" placeholder="Qty">
        </div>
      </div>
    </div>

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">Info for cable rail only</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="total-36-rail-length">Total 36'' Rail Length</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="total-36-rail-length" placeholder="LFT">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="total-42-rail-length">Total 42'' Rail Length</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="total-42-rail-length" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="stair-straght-secionts-36">Stair Straght Sections of 36 Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="stair-straght-secionts-36" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="stair-straght-secionts-42">Stair Straght Sections of 42 Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="stair-straght-secionts-42" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="level-straght-sections-36">Level Straght Sections 36'' Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="level-straght-sections-36" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="level-straght-sections-42">Level Straght Sections 42'' Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="level-straght-sections-42" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="level-pickets">Level Pickets</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="level-pickets">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="stair-pickets">Stair Pickets</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="stair-pickets">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="pass-through-posts">Pass Through Posts (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="pass-through-posts" placeholder="Qty">
        </div>
      </div>
    </div>

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">*DO NOT use Structural Posts for Cablerail</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="flush-36">Flush Mount Structural Post 36''Rail Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="flush-36" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="flush-42">Flush Mount Structural Post 42''Rail Height</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="flush-42" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="4x4-pt-posts">4x4 PT Posts (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="4x4-pt-posts" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="36-composite">36'' Composite Sleeves (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="36-composite" placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="42-composite">42'' Composite Sleeves (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="42-composite" placeholder="Qty">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Finishing -->
<div *ngIf="menu == 'finishing'" class="mb-3">
  <div class="row d-flex justify-content-evenly ">

    <div class="col-4">
      <b class="d-flex mb-3 text-secondary ">&nbsp;</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label" for="gate-to-access">Gate to access under the deck</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="gate-to-access" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="4x8-lattice-panel">4x8 Lattice Panel</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="4x8-lattice-panel" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="1x6-lattice-panel">1x6 Lattice Panel</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="1x6-lattice-panel" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="dekc-fascia-board">Deck Fascia Board</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="dekc-fascia-board" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="water-table">Water Table</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="water-table" placeholder="LFT">
        </div>
      </div>
    </div>

    <div class="col-4">
      <b class="d-flex mb-3 text-secondary ">Farmer's Porch info only</b>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="ceiling-beam">Ceiling Beam (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="ceiling-beam" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="6x6x85-pvc-square-columns">6'' x 6'' x 8.5' PVC Square Columns
          Wrap</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="6x6x85-pvc-square-columns" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="8x8x8-fiberglass">8'' x 8'' x 8' Fiberglass Round Tapered
          Column</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="8x8x8-fiberglass" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="pvc-beaded-planks">PVC Beaded Planks on Ceiling</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="pvc-beaded-planks" placeholder="sq.f">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="tg-fir-on-ceiling">T&G Fir on Ceiling (no stain)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="tg-fir-on-ceiling" placeholder="sq.f">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="base-cap-molding">Base Cap Molding (transition beam-ceiling)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="base-cap-molding" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="soffit-trim">Soffit trim (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="soffit-trim" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="roof-fascia">Roof Fascia (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="roof-fascia" placeholder="LFT">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- RainScape -->
<div *ngIf="menu == 'rainScape'" class="mb-3">
  <div class="row d-flex justify-content-evenly ">
    <div class="col-4">
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-deck-drainage-downpout">RainEscape Deck Drainage System
          Downspout</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-deck-drainage-downpout" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-deck-drainage-16">RainEscape Deck Drainage System Trough -
          16'
          Length</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-deck-drainage-16" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-deck-drainage-12">RainEscape Deck Drainage System Trough -
          12'
          Length</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-deck-drainage-12" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-deck-drainage-butyl">RainEscape Deck Drainage System Butyl
          Caulk
          Tube</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-deck-drainage-butyl" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-post">RainEscape Post Flashing - 4'' x 4''</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-post" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-wall">RainEscape Wall Flashing - 1 Roll</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-wall" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="rainescape-deck-drainage">RainEscape Deck Drainage System Butyl Tape -
          4'' x
          50'</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="rainescape-deck-drainage" placeholder="Qty">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="gutters">Gutters (LF)</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="gutters" placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="downpouts">Downpouts</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="downpouts" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="elbows">Elbows</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="elbows" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="left-end-cap">Left end Cap</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="left-end-cap" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="right-end-cap">Right end Cap</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="right-end-cap" placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label" for="hangers">Hangers</label>
        <div class="col d-flex align-items-center">
          <input type="number" class="form-control no-spinner" id="hangers" placeholder="Qty">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Extra Materials -->
<div *ngIf="menu == 'extra-materials'" class="mb-3">
  <!-- <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary " (click)="addExtraMaterial()">+ New</button>
  </div> -->

  <table class="table table-hover">
    <thead>
      <tr class="table-light">
        <th class="text-center">#</th>
        <th class="text-center" style="width: 60%;">Description</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Unit Cost</th>
        <th class="text-center">Total</th>
        <th class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of deckingQuote?.materialOrder?.extraMaterials; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <input type="number" class="form-control form-control-sm" [(ngModel)]="material.desc">
        </td>
        <td class="text-center">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="material.cost">
        </td>
        <td class="text-center">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="material.qty">
        </td>
        <td class="text-center">
          <!-- <input type="number" class="form-control form-control-sm" value="{{ material.cost * material.qty | currency:'USD':true:'1.2-2' }}">  -->
          <input disabled type="number" class="form-control form-control-sm"
            value="{{ ((material.cost || 0) * (material.qty || 0)).toFixed(2) }}">
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm" (click)="removeExtraMaterial(material)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary" (click)="addExtraMaterial()">+</button>
  </div>

</div>
