<app-list title="Material Order - Footings"
          [items]="footings.materials || []"
          [keys]="['name']"
          [columns]="['Name']"
          [searchColumns]="['name']"
          endpoint="decking/material-order/footings">

</app-list>

<!-- 
<app-list title="Materials"
          [items]="materials"
          [keys]="['desc', 'price', 'supplier']"
          [columns]="['Description', 'Price', 'Supplier']"
          [searchColumns]="['desc']"
          endpoint="materials">
</app-list> -->
