<div class="d-flex mb-4">
  <div class="flex-fill border-bottom pb-2">
    <h2 >Deck {{ this.quoteId != 'new' ? 'Edit' : 'Create'}}</h2>
  </div>

  <!-- Main Menu -->
  <nav class="nav nav-tabs" id="deck-tab">
    <a class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#customer-info">Job Info</a>
    <a class="nav-link " type="button" data-bs-toggle="tab" data-bs-target="#deck-take-off">Deck Take-off</a>
    <a class="nav-link " type="button" data-bs-toggle="tab" data-bs-target="#estimate">Estimate</a>
    <a class="nav-link " type="button" data-bs-toggle="tab" data-bs-target="#material-order">Material Order</a>
  </nav>
</div>

<!-- Main Panel -->
<div class="tab-content" id="deck-panel">

  <!-- Customer Info -->
  <div class="tab-pane show active" id="customer-info">
    <app-dqe-customer [customer]="customer" [deckQuote]="deckQuote" *ngIf="customer && deckQuote"></app-dqe-customer>
    <!-- <pre>{{ deckQuote | json }}</pre> -->
  </div>

  <!-- Deck Take-off -->
  <div class="tab-pane" id="deck-take-off">
    <app-dqe-takeoff [deckQuote]="deckQuote" *ngIf="deckQuote"></app-dqe-takeoff>
  </div>

  <!-- Estimate -->
  <div class="tab-pane " id="estimate">
    <app-dqe-estimate></app-dqe-estimate>
  </div>

  <!-- Material Order -->
  <div class="tab-pane" id="material-order">
    <app-dqe-order></app-dqe-order>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary my-4" (click)="save()">
    <i class="bi bi-save me-1"></i>
    Save
  </button>
</div>





<!-- <div class="d-flex justify-content-evenly mb-5">
        <button type="button" class="btn btn-outline-primary">Footing</button>
        <button type="button" class="btn btn-outline-primary">Frame</button>
        <button type="button" class="btn btn-outline-primary">Railing System</button>
        <button type="button" class="btn btn-outline-primary">Finishing</button>
        <button type="button" class="btn btn-outline-primary">Rain Scape</button>
        <button type="button" class="btn btn-outline-primary">Extra Material</button>
        <button type="button" class="btn btn-outline-primary">Labor</button>
    </div> -->

<!-- <div class="d-flex justify-content-evenly my-3 border-bottom">
      <a href="javascript:;" (click)="menu='footing1'" class="border-bottom border-3 border-primary pb-3">Footing</a>
      <a [class.border-bottom]="menu=='footing1'">Frame</a>
      <div>Railing System</div>
      <div>Finishing</div>
      <div>Rain Scape</div>
      <div>Extra Material</div>
      <div>Labor</div>
    </div>

    <div *ngIf="menu=='footing1'">
      Opa nene
    </div> -->

<!-- <nav class="nav nav-pills nav-fill bg-body-secondary" id="deck-take-off-tab" role="tablist">
      <a class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#footing">Footing</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#frame">Frame</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#railing">Railing System</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#finishing">Finishing</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#rain-scape">Rain Scape</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#extra-material">Extra
        Material</a>
      <a class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#labor">Labor</a>
    </nav> -->
