<h2 class="mb-5">Decking</h2>

<ul class="nav nav-tabs nav-justified mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-quote-info-tab" data-bs-toggle="pill" data-bs-target="#pills-quote-info" type="button" role="tab">Quote Info</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="nav-deck-takeoff-tab" data-bs-toggle="pill" data-bs-target="#nav-deck-takeoff" type="button" role="tab">Deck Take-Off</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-estimate-tab" data-bs-toggle="pill" data-bs-target="#pills-estimate" type="button" role="tab">Estimate</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="material-order-tab" data-bs-toggle="pill" data-bs-target="#material-order" type="button" role="tab">Material Order</button>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <!-- Quote Info -->
  <div class="tab-pane fade" id="pills-quote-info" role="tabpanel" tabindex="0">

  </div>

  <!-- Deck Take-Off -->
  <div class="tab-pane fade show active" id="nav-deck-takeoff" role="tabpanel" tabindex="1">
      <div class="d-flex justify-content-evenly nav nav-underline mb-4" id="v-pills-tab" role="tablist">
        <button class="nav-link active" id="subnav-footing-tab" data-bs-toggle="pill" data-bs-target="#subnav-footing" type="button" role="tab">Footing</button>
        <button class="nav-link" id="v-pills-frame-tab" data-bs-toggle="pill" data-bs-target="#v-pills-frame" type="button" role="tab">Frame</button>
        <button class="nav-link" id="v-pills-railing-tab" data-bs-toggle="pill" data-bs-target="#v-pills-railing" type="button" role="tab">Railing System</button>
        <button class="nav-link" id="v-pills-finishing-tab" data-bs-toggle="pill" data-bs-target="#v-pills-finishing" type="button" role="tab">Finishing</button>
        <button class="nav-link" id="v-pills-rainscape-tab" data-bs-toggle="pill" data-bs-target="#v-pills-rainscape" type="button" role="tab">Rain Scape</button>
        <button class="nav-link" id="v-pills-extra-tab" data-bs-toggle="pill" data-bs-target="#v-pills-extra" type="button" role="tab">Exta Material</button>
        <button class="nav-link" id="v-pills-labor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-labor" type="button" role="tab">Labor</button>
      </div>

      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="subnav-footing" role="tabpanel" tabindex="0">
          <div class="d-flex flex-row justify-content-evenly">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="ledger-board" name="ledger-board">
              <label class="form-label" for="ledger-board">Ledger Board (lf)</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="ledger-board" name="ledger-board">
              <label class="form-label" for="ledger-board">Ledger Board (lf)</label>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-frame" role="tabpanel" tabindex="0">

        </div>

        <div class="tab-pane fade" id="v-pills-railing" role="tabpanel" tabindex="0">

        </div>

        <div class="tab-pane fade" id="v-pills-finishing" role="tabpanel" tabindex="0">

        </div>

        <div class="tab-pane fade" id="v-pills-rainscape" role="tabpanel" tabindex="0">

        </div>

        <div class="tab-pane fade" id="v-pills-extra" role="tabpanel" tabindex="0">

        </div>

        <div class="tab-pane fade" id="v-pills-labor" role="tabpanel" tabindex="0">

        </div>
      </div>
  </div>

  <!-- Estimate -->
  <div class="tab-pane fade" id="pills-estimate" role="tabpanel" tabindex="2">

  </div>

  <!-- Material Order -->
  <div class="tab-pane fade" id="material-order" role="tabpanel" tabindex="3">

  </div>
</div>

<!-- <form>
  <div class="d-flex flex-row justify-content-evenly">
    <div>
      <h4 class="mb-4">Main Area</h4>

      <div class="form-floating mb-3">
        <select class="form-select" id="grade" name="grade">
          <option selected>Select frame grade</option>
          <option value="2x8">2 x 8 frame</option>
          <option value="2x10">2 x 10 frame</option>
        </select>
        <label for="grade" class="form-label">Deck Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ledger-board" name="ledger-board">
        <label class="form-label" for="ledger-board">Ledger Board (lf)</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Attaches to...</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Support Post Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Width</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Depth</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Height</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Picture Frame</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Beaming Grade</label>
      </div>
    </div>

    <div>
      <h4 class="mb-4">Stair</h4>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Width</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Riser</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Support Post Grade</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Beam Grade</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Railling on Both Sides?</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="#">Handrails</label>
        <input type="text" class="form-control" id="#" name="#">
      </div>
    </div>


    <div>
      <h4 class="mb-4">Landing</h4>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Frame Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Width</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Depth</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Height</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Board</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Ledger Attaches to...</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Support Post Grade</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="#" name="#">
        <label class="form-label" for="#">Picture Frame</label>
      </div>
    </div>
  </div>

  <div class="d-flex  justify-content-end">
    <button type="submit" class="btn btn-primary" (click)="onClick()">Submit</button>
  </div>

</form>
 -->
