<!-- Menu -->
<div class="d-flex justify-content-around my-2">
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'footing'"
          [class.btn-light]="menu != 'footing'"
          (click)="menu = 'footing'">Footing</button>
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'layout'"
          [class.btn-light]="menu != 'layout'"
          (click)="menu = 'layout'">Layout</button>
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'railing'"
          [class.btn-light]="menu != 'railing'"
          (click)="menu = 'railing'">Railing</button>
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'finishing'"
          [class.btn-light]="menu != 'finishing'"
          (click)="menu = 'finishing'">Finishing</button>
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'rainScape'"
          [class.btn-light]="menu != 'rainScape'"
          (click)="menu = 'rainScape'">RainScape</button>
  <button type="button"
          class="btn m-2 d-flex flex-fill justify-content-center"
          [class.btn-primary]="menu == 'extra-materials'"
          [class.btn-light]="menu != 'extra-materials'"
          (click)="menu = 'extra-materials'">Extra Materials</button>
</div>

<!-- Footing -->
<div *ngIf="menu == 'footing'"
     class="mb-3">
  <div class="row justify-content-evenly  ">

    <!-- Big Foot -->
    <div class="col-3">
      <b class="d-flex mb-3 text-secondary justify-content-center">Big Foot</b>
      <div class="row mb-3">
        <label class="col-4 form-label col-form-label "
               for="footing-quantity">Quantity</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="footing-quantity"
                 [(ngModel)]="deckTakeOff.footings.bigFoot.qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-4 col-form-label "
               for="footing-size">Size</label>
        <div class="col d-flex align-items-center ">
          <select id="footing-size"
                  class="form-select"
                  [(ngModel)]="deckTakeOff.footings.bigFoot.size">
            <option value=""></option>
            <option value="22x16.5x22">22" x 16.5" x 22"</option>
            <option value="28x20x28">28" x 20" x 28"</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Helical Post -->
    <div class="col-3">
      <b class="d-flex mb-3 text-secondary justify-content-center ">Helical Post</b>
      <div class="row mb-3">
        <label class="col-4 col-form-label "
               for="helical-post-quantity">Quantity</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="helical-post-quantity"
                 [(ngModel)]="deckTakeOff.footings.helicalPost.qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-4 col-form-label "
               for="helical-post-size">Size</label>
        <div class="col d-flex align-items-center ">
          <select id="helical-post-size"
                  class="form-select"
                  [(ngModel)]="deckTakeOff.footings.helicalPost.size">
            <option value=""></option>
            <option value="3x5">3" x 5"</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Sonotubes -->
    <div class="col-3">
      <b class="d-flex mb-3 text-secondary justify-content-center ">Sonotubes</b>
      <div class="row mb-3">
        <label class="col-4 form-check-label  col-form-label "
               for="sonotubes-quantity">Quantity</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="sonotubes-quantity"
                 [(ngModel)]="deckTakeOff.footings.sonotube.qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-4 form-check-label col-form-label "
               for="sonotubes-size">Size</label>
        <div class="col d-flex align-items-center ">
          <select id="sonotubes-size"
                  class="form-select"
                  [(ngModel)]="deckTakeOff.footings.sonotube.size">
            <option value=""></option>
            <option value="8x48">8" x 48"</option>
            <option value="12x48">12" x 48"</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Layout -->
<div *ngIf="menu == 'layout'"
     class="mb-3">
  <app-dqe-take-off-layout *ngIf="deckTakeOff.layout"
                           [layout]="deckTakeOff.layout"></app-dqe-take-off-layout>
</div>


<!-- Railing -->
<div *ngIf="menu == 'railing'"
     class="mb-3">
  <div class="row">

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">&nbsp;</b>

      <div class="row mb-3">
        <div class="col-8 d-flex flex-column ">
          <label class="form-label"
                 style="margin-bottom: 0;"
                 for="36-height">36'' Height Deck Gate</label>
          <p class="text-secondary"
             style="margin-bottom: 0;">No wider than 48''</p>
        </div>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="36-height"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-8 d-flex flex-column ">
          <label class="form-label"
                 style="margin-bottom: 0;"
                 for="42-height">42'' Height Deck Gate</label>
          <p class="text-secondary"
             style="margin-bottom: 0;">No wider than 48''</p>
        </div>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="42-height"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label "
               for="6x32-level-rail">6'x 36''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="6x32-level-rail"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label "
               for="8x36-level-rail">8'x 36''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="8x36-level-rail"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label "
               for="6x42-level-rail">6'x 42''Level Rail</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="6x42-level-rail"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label "
               for="splitted-rails">Splitted Rails</label>
        <div class="col d-flex align-items-center ">
          <input type="number"
                 class="form-control no-spinner"
                 id="splitted-rails"
                 placeholder="Qty">
        </div>
      </div>
    </div>

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">Info for cable rail only</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="total-36-rail-length">Total 36'' Rail Length</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="total-36-rail-length"
                 placeholder="LFT">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="total-42-rail-length">Total 42'' Rail Length</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="total-42-rail-length"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="stair-straght-secionts-36">Stair Straght Sections of 36 Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="stair-straght-secionts-36"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="stair-straght-secionts-42">Stair Straght Sections of 42 Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="stair-straght-secionts-42"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="level-straght-sections-36">Level Straght Sections 36'' Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="level-straght-sections-36"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="level-straght-sections-42">Level Straght Sections 42'' Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="level-straght-sections-42"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="level-pickets">Level Pickets</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="level-pickets">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="stair-pickets">Stair Pickets</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="stair-pickets">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="pass-through-posts">Pass Through Posts (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="pass-through-posts"
                 placeholder="Qty">
        </div>
      </div>
    </div>

    <div class="col">
      <b class="d-flex mb-3 text-secondary ">*DO NOT use Structural Posts for Cablerail</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="flush-36">Flush Mount Structural Post 36''Rail Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="flush-36"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="flush-42">Flush Mount Structural Post 42''Rail Height</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="flush-42"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="4x4-pt-posts">4x4 PT Posts (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="4x4-pt-posts"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="36-composite">36'' Composite Sleeves (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="36-composite"
                 placeholder="Qty">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="42-composite">42'' Composite Sleeves (level only)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="42-composite"
                 placeholder="Qty">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Finishing -->
<div *ngIf="menu == 'finishing'"
     class="mb-3">
  <div class="row d-flex justify-content-evenly ">

    <div class="col-4">
      <b class="d-flex mb-3 text-secondary ">&nbsp;</b>

      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="gate-to-access">Gate to access under the deck</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="gate-to-access"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="4x8-lattice-panel">4x8 Lattice Panel</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="4x8-lattice-panel"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="1x6-lattice-panel">1x6 Lattice Panel</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="1x6-lattice-panel"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="dekc-fascia-board">Deck Fascia Board</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="dekc-fascia-board"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="water-table">Water Table</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="water-table"
                 placeholder="LFT">
        </div>
      </div>
    </div>

    <div class="col-4">
      <b class="d-flex mb-3 text-secondary ">Farmer's Porch info only</b>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="ceiling-beam">Ceiling Beam (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="ceiling-beam"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="6x6x85-pvc-square-columns">6'' x 6'' x 8.5' PVC Square Columns
          Wrap</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="6x6x85-pvc-square-columns"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="8x8x8-fiberglass">8'' x 8'' x 8' Fiberglass Round Tapered
          Column</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="8x8x8-fiberglass"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="pvc-beaded-planks">PVC Beaded Planks on Ceiling</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="pvc-beaded-planks"
                 placeholder="sq.f">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="tg-fir-on-ceiling">T&G Fir on Ceiling (no stain)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="tg-fir-on-ceiling"
                 placeholder="sq.f">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="base-cap-molding">Base Cap Molding (transition beam-ceiling)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="base-cap-molding"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="soffit-trim">Soffit trim (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="soffit-trim"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="roof-fascia">Roof Fascia (PVC)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="roof-fascia"
                 placeholder="LFT">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- RainScape -->
<div *ngIf="menu == 'rainScape'"
     class="mb-3">
  <div class="row d-flex justify-content-evenly ">
    <div class="col-4">
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-deck-drainage-downpout">RainEscape Deck Drainage System
          Downspout</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-deck-drainage-downpout"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-deck-drainage-16">RainEscape Deck Drainage System Trough -
          16'
          Length</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-deck-drainage-16"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-deck-drainage-12">RainEscape Deck Drainage System Trough -
          12'
          Length</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-deck-drainage-12"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-deck-drainage-butyl">RainEscape Deck Drainage System Butyl
          Caulk
          Tube</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-deck-drainage-butyl"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-post">RainEscape Post Flashing - 4'' x 4''</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-post"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-wall">RainEscape Wall Flashing - 1 Roll</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-wall"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="rainescape-deck-drainage">RainEscape Deck Drainage System Butyl Tape -
          4'' x
          50'</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="rainescape-deck-drainage"
                 placeholder="Qty">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="gutters">Gutters (LF)</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="gutters"
                 placeholder="LFT">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="downpouts">Downpouts</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="downpouts"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="elbows">Elbows</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="elbows"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="left-end-cap">Left end Cap</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="left-end-cap"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="right-end-cap">Right end Cap</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="right-end-cap"
                 placeholder="Qty">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-8 col-form-label"
               for="hangers">Hangers</label>
        <div class="col d-flex align-items-center">
          <input type="number"
                 class="form-control no-spinner"
                 id="hangers"
                 placeholder="Qty">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Extra Materials -->
<div *ngIf="menu == 'extra-materials'"
     class="mb-3">
  <table class="table table-hover">
    <thead>
      <tr class="table-light">
        <th class="text-center">#</th>
        <th class="text-center"
            style="width: 60%;">Description</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Unit Cost</th>
        <th class="text-center">Total</th>
        <th class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let material of materialOrder?.extraMaterials; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <input type="text"
                 class="form-control form-control-sm"
                 [(ngModel)]="material.desc">
        </td>
        <td class="text-center">
          <input type="number"
                 class="form-control form-control-sm"
                 [(ngModel)]="material.cost">
        </td>
        <td class="text-center">
          <input type="number"
                 class="form-control form-control-sm"
                 [(ngModel)]="material.qty">
        </td>
        <td class="text-center">
          <!-- <input type="number" class="form-control form-control-sm" value="{{ material.cost * material.qty | currency:'USD':true:'1.2-2' }}">  --
          <input disabled
                 type="number"
                 class="form-control form-control-sm"
                 value="{{ ((material.cost || 0) * (material.qty || 0)).toFixed(2) }}">
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm"
                  (click)="removeExtraMaterial(material)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary"
            (click)="addExtraMaterial()">+</button>
  </div>

</div>
